{% extends "template.html" %}

{% block title %}Report Incident{% endblock title %}

{% block id %}categories{% endblock id %}

{% block header %}
<h1 id="report-cyber">Report a Cyber Incident</h1>
{% endblock header %}

{% block main %}
<div class="report-incdent-container">
    <div class="explain">
        <h2>What is a cybercrime ?</h2>
        <p>Cyber Incident or a cybercrime refers to criminal activities that are carried out using a computer or an online network.
            These criminal activities may include fraud, online image abuse, shopping and investment scams, ransomware or malware
            attacks, identity theft, as well as threats and intimidation.
        </p>
    </div>
    <p>As cyber crime becomes more sophisticated, criminals are targeting individuals, businesses, critical infrastructure
        organisations, education institutes and governments agencies or departments , All the reports submissions are useful and will
        aid the ACSC .</p>
    <div class="warn">
        <h2>You should NOT Report when:</h2>
        <ul>
            <li>A physical crime has been committed, such as your debit or credit card or computer has been stolen</li>
            <li>You have received a scam call and no loss of personal information or money has occurred</li>
        </ul>
    </div>
    <h1>Select the option which best describes the affected entity</h1>
    <p>Tell us who the aff ected party is from the list below</p>
    <div class="categorie">
        <a href="/Individual-report">
            <h3 class="categories"><i class="fa-solid fa-user"></i> An Individual
                <small>Select this option to report a cybercrime that has affected you personally or someone that you know or if you
                    wish to report a cyber security vulnerability.</small>
            </h3>
        </a>
    </div>
    <div class="categorie">
        <a href="/Business-report">
            <h3 class="categories"><i class="fa-solid fa-users"></i>Business or an organization
                <small>Select this option to report an event that has affected an ABN registered business or if you wish to report a
                    cyber security vulnerability.</small>
            </h3>
        </a>
    </div>
    <div class="categorie">
        <a href="/Government-report">
            <h3 class="categories"><i class="fa-solid fa-building-columns"></i>Governement departement or agency
                <small>Select this option to report an event that has affected a Governement departement or agency entity or if you
                    wish to report a cyber security vulnerability.</small>
            </h3>

        </a>
    </div>
    <hr id="lasthr">
    <div class="helpus">
        <h3>Help us to help others</h3>
        <p> Sharing informative reports is crucial for us to comprehend the threat landscape and enhance the cyber intelligence
            capabilities. This subsequently improves our ability to help protect other Algerian organisations.</p>
    </div>
</div>
{% endblock main %}

{% block script %}
<script src="https://kit.fontawesome.com/c070b8016f.js" crossorigin="anonymous"></script>
{% endblock script %}