{% extends "template.html" %} {% block link %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="stylesheet" href="../static/lib/css/owl.theme.default.min.css" />
<link rel="stylesheet" href="../static/lib/css/owl.carousel.min.css" />
{% endblock link %} {% block title %}Cyber report{% endblock title %} {% block id %}index{% endblock id %} {% block header %}
<h1 id="index-h1">The Algerian Cyber Security Center</h1>
<h2>Helping to make Algeria the safest place to live and work online.</h2>
{% endblock header %} {% block main %}

<div class="swiper">
    <!-- swiper-wrapper -->
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a class="banner-button first-banner" href="/Incident-report">Start Reporting Now <i
                    class="fa-solid fa-arrow-right fa-beat"></i></a>
            <img src="../static/img/Incident.svg" />
        </div>
        <div class="swiper-slide">
            <a class="banner-button seccond-banner" href="/IOC-report">Start Reporting Now <i
                    class="fa-solid fa-arrow-right fa-beat"></i></a>
            <img src="../static/img/IOC.svg" />
        </div>
        <div class="swiper-slide">
            <a class="banner-button third-banner" href="/scan">Scan Now <i class="fa-solid fa-arrow-right fa-beat"></i></a>
            <img src="../static/img/Scan.svg" />
        </div>
    </div>
    <!-- swiper-pagination -->
    <div class="swiper-pagination"></div>
    <!-- previous button -->
    <div class="swiper-button-prev"></div>
    <!-- next button -->
    <div class="swiper-button-next"></div>
</div>

<div class="cve-container">
    <div class="title-box">
        <h2>Discover The Last 20 Scored Vulnerability IDs & Summaries From <a href="https://nvd.nist.gov/">NIST Database </a></h2>
    </div>
    <div id="cve-carousel" class="owl-carousel owl-theme">

        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-2237#vulnDescriptionTitle">
                <div class="item-header">
                    <span class="date">juin 09, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-2237</h3>
                <p class="descreption">The WP Replicate Post plugin for WordPress is vulnerable to SQL Injection via the post_id parameter
                    in versions up to and including 4.0.2 due to insufficient escaping on the user supplied parameter and lack of
                    sufficient preparation on the existing queries that can be used to extract sensitive informations...</p>
                <h4 style="margin-top: 15px;">source: Wordfence</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-2237#vulnDescriptionTitle" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>

        <div class="item rating2">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-2305">
                <div class="item-header">
                    <span class="date"> juin 09, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot2"></i>Medium</span></span>
                </div>
                <h3 class="title">CVE-2023-2305</h3>
                <p class="descreption">The Download Manager plugin for WordPress is vulnerable to Stored Cross-Site Scripting via the
                    'wpdm_members', 'wpdm_login_form', 'wpdm_reg_form' shortcodes in versions up to, and including, 3.2.70 due to
                    insufficient input sanitization and output escaping on user supplied attributes...</p>
                <h4 style="margin-top: 15px;">source: Wordfence</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-2305" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>

        <div class="item rating1">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-3173">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot1"></i>Critical</span></span>
                </div>
                <h3 class="title">CVE-2023-3173</h3>
                <p class="descreption">The GitHub repository for froxlor/froxlor prior to version 2.0.20 had a vulnerability related to
                    improper restriction of excessive authentication attempts, which can be exploited by an attacker and allow unauthorized
                    access to the system via brute-force attacks.</p>
                <h4 style="margin-top: 15px;">source: huntr.dev</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-3173" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>

        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-42915">
                <div class="item-header">
                    <span class="date">octobre 29, 2022</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2022-42915</h3>
                <p class="descreption">curl before 7.86.0 has a double free. If curl is told to use an HTTP proxy for a transfer with a
                    non-HTTP(S) URL, it sets up the connection to the remote server by issuing a CONNECT request to the proxy and then
                    tunnels the rest of the protocol...</p>
                <h4 style="margin-top: 15px;">source: MITRE</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-42915" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>

        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>


        <!-- <div class="item rating0">
            <a href="">
                <div class="item-header">
                    <span class="date">12 MAY 2012</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot0"></i>Exist</span></span>
                </div>
                <h3 class="title"></h3>
                <p class="descreption"></p>
                <a href="#" class="read-more"><i class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div> -->


        <!-- <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-34962">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-34962</h3>
                <p class="descreption">Incorrect access control in Chamilo v1.11.x up to v1.11.18 allows a student to arbitrarily access and
                    modify another student's personal notes.</p>
                <h4 style="margin-top: 15px;">source: MITRE</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-34962" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div>
        <div class="item rating3">
            <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535">
                <div class="item-header">
                    <span class="date">juin 08, 2023</span>
                    <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
                </div>
                <h3 class="title">CVE-2023-24535</h3>
                <p class="descreption">Parsing invalid messages can panic. Parsing a text-format message which contains a potential number
                    consisting of a minus sign, one or more characters of whitespace, and no further input will cause a panic.</p>
                <h4 style="margin-top: 15px;">source: Go Project</h4>
                <a href="https://nvd.nist.gov/vuln/detail/CVE-2023-24535" class="read-more"><i
                        class="fa-solid fa-arrow-right-long fa-2xl"></i></a>
            </a>
        </div> -->

    </div>
    <div class="read-more-wrapper">
        <a href="" class="see-all">See all the CVEs <i class="fa-solid fa-arrow-left-long fa-rotate-180" style="color: #041e52"></i></a>
    </div>
</div>


<div class="long-banner">
    <img src="../static/img/banner-1.svg" alt="">
</div>
<div class="about-us">
    <h2 class="section-title">Who we are</h2>
    <p class="section-text">ACSC, or the Algerian Cyber Security Center, is a website dedicated to promoting cyber security awareness and
        offering resources and solutions for individuals and businesses in Algeria. The site covers a broad range of topics related to cyber
        security, including information on the latest threats, best practices for securing networks and devices, and tools and techniques
        for detecting and responding to cyber-attacks.</p>

    <h2 class="section-title">what we do</h2>
    <p class="section-text">ACSC offers a variety of services to help individuals and organizations in Algeria better protect themselves
        from online threats, our key services include:</p>
    <div class="abt-container">
        <div class="abt-element">
            <img src="../static/img/abt-report.svg" class="abt-img">
            <span class="abt-descreption">
                <h3>Reporting Cyber Issues</h3>
                <p>
                    ACSC provides a platform for Algerian citizens and organizations to report cyber security issues they
                    have encountered. This includes incidents such as hacking attempts, phishing scams, and malware infections. Our
                    reporting system helps individuals and organizations quickly and easily report cyber security issues so we can
                    investigate and take appropriate action.
                </p>
            </span>
        </div>
        <div class="abt-element">
            <span class="abt-descreption">
                <h3>Reporting IOC</h3>
                <p>
                    ACSC also offers a platform for individuals and organizations to report indicators of compromise (IOCs). This
                    includes IP addresses, domain names, and other data related to known or suspected cyber threats. By collecting and
                    analyzing this data, we can better understand the threat landscape in Algeria and take proactive measures to protect our
                    users.
                </p>
            </span>
            <img src="../static/img/abt-ioc.svg" class="abt-img">
        </div>
        <div class="abt-element">
            <img src="../static/img/abt-scan.svg" class="abt-img">
            <span class="abt-descreption">
                <h3>Website Scanning</h3>
                <p>
                    ACSC provides a website scanning service that helps individuals and organizations identify vulnerabilities in
                    their web applications and websites. Our scanning tools analyze websites for common security issues, such as SQL
                    injection and cross-site scripting (XSS) vulnerabilities. We then provide detailed reports and recommendations to help
                    website owners mitigate these risks.
                </p>
            </span>
        </div>
        <div class="abt-element">

            <span class="abt-descreption">
                <h3>Data collecting</h3>
                <p>
                    ACSC collects and analyzes data related to cyber threats targeting Algeria. we aim to gain valuable insights into
                    security-related incidents, enabling us to identify trends, patterns, and potential vulnerabilities. Through our
                    data-driven approach, we strive to enhance security measures and proactively address emerging threats, ultimately
                    promoting a safer digital environment for our users and stakeholders.
                </p>
            </span>
            <img src="../static/img/abt-stat.svg" class="abt-img">
        </div>
    </div>
</div>

<div class="index">
    <hr id="lasthr">
    <div class="helpus">
        <h3>Help us to help others</h3>
        <p> Sharing informative reports is crucial for us to comprehend the threat landscape and enhance the cyber intelligence
            capabilities. This subsequently improves our ability to help protect other Algerian organizations.</p>
    </div>
</div>
{% endblock main %} {% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="../static/lib/js/owl.carousel.min.js"></script>
<script src="../static/lib/js/jquery.mousewheel.min.js"></script>
<script src="../static/Scripts/CVE_API.js"></script>
<!-- for swiper js -->
<script>
    const swiper = new Swiper(".swiper", {
        direction: "horizontal",
        loop: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: true,
        },

        pagination: {
            el: ".swiper-pagination",
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
{% endblock script %}