{% extends "template.html" %}

{% block link %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="stylesheet" href="../static/lib/css/owl.theme.default.min.css">
<link rel="stylesheet" href="../static/lib/css/owl.carousel.min.css">
{% endblock link %}
{% block title %}Cyber report{% endblock title %}

{% block id %}index{% endblock id %}

{% block header %}
<h1 id="index-h1">The Algerian Cyber Security Center</h1>
<h2>Helping to make Algeria the safest place to live and work online.</h2>
{% endblock header %}

{% block main %}

<div class="swiper">

    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <button class="banner-button">Report An Incident</button>
            <img src="../static/img/Incident.svg">
        </div>
        <div class="swiper-slide pic2">
            <button class="banner-button">Report an IOC</button>
            <img src="../static/img/IOC.svg">
        </div>
        <div class="swiper-slide pic3">
            <button class="banner-button">Report now</button>
            <img src="../static/img/Scan.svg">
        </div>

    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>
<div class="cve-container">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="../static/img/Incident.svg" alt="">
        </div>
        <div class="item">
            <img src="../static/img/Incident.svg" alt="">
        </div>
        <div class="item">
            <img src="../static/img/Incident.svg" alt="">
        </div>
        <div class="item">
            <img src="../static/img/Incident.svg" alt="">
        </div>
        <div class="item">
            <img src="../static/img/Incident.svg" alt="">
        </div>
        <div class="item">
            <img src="../static/img/Incident.svg" alt="">
        </div>
    </div>
    <div class="owl-nav">
        <div class="owl-prev">
            <i class="fa fa-angle-left" aria-hidden="true">
            </i>
        </div>
        <div class="owl-next">
            <i class="fa fa-angle-right" aria-hidden="true">
            </i>
        </div>
    </div>
    <div class="owl-dots disabled">
    </div>
</div>

{% endblock main %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="../static/lib/js/owl.carousel.min.js"></script>
<!-- for swiper js -->
<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: true
        },

        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<!-- for owl carousel -->
<script>
    $('.owl-carousel').owlCarousel({
        items: 3,
        loop: true,
        margin: 10,
        nav: true,
        autoplayTimeout: 1000,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    });
    owl.on('mousewheel', '.owl-stage', function (e) {
        if (e.deltaY > 0) {
            owl.trigger('next.owl');
        } else {
            owl.trigger('prev.owl');
        }
        e.preventDefault();
    });
</script>
{% endblock script %}