{% extends "template.html" %} {% block link %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="stylesheet" href="../static/lib/css/owl.theme.default.min.css" />
<link rel="stylesheet" href="../static/lib/css/owl.carousel.min.css" />
{% endblock link %} {% block title %}Cyber report{% endblock title %} {% block id %}index{% endblock id %} {% block header %}
<h1 id="index-h1">The Algerian Cyber Security Center</h1>
<h2>Helping to make Algeria the safest place to live and work online.</h2>
{% endblock header %} {% block main %}

<div class="swiper">
    <!-- swiper-wrapper -->
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a class="banner-button first-banner" href="/Incident-report">Start Reporting Now <i
                    class="fa-solid fa-arrow-right fa-beat"></i></a>
            <img src="../static/img/Incident.svg" />
        </div>
        <div class="swiper-slide">
            <a class="banner-button seccond-banner" href="/IOC-report">Start Reporting Now <i
                    class="fa-solid fa-arrow-right fa-beat"></i></a>
            <img src="../static/img/IOC.svg" />
        </div>
        <div class="swiper-slide">
            <a class="banner-button third-banner" href="/scan">Scan Now <i class="fa-solid fa-arrow-right fa-beat"></i></a>
            <img src="../static/img/Scan.svg" />
        </div>
    </div>
    <!-- swiper-pagination -->
    <div class="swiper-pagination"></div>
    <!-- previous button -->
    <div class="swiper-button-prev"></div>
    <!-- next button -->
    <div class="swiper-button-next"></div>
</div>

<div class="cve-container">
    <div class="title-box">
        <h2>Discover the most commun CVEs</h2>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="item rating3">
            <div class="item-header">
                <h3 class="title">Title</h3>
                <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot3"></i>High</span></span>
            </div>
            <h4 class="subtitle">CVE-2021-44228</h4>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dicta nisi consequuntur officiis cum excepturi! Ut
                perferendis nostrum quae ducimus
                consequuntur, praesentium doloribus? Quia nemo odit obcaecati repudiandae assumenda officiis! lore
            </p>
            <a href="#" class="read-more">Read More</a>
        </div>
        <div class="item rating2">
            <div class="item-header">
                <h3 class="title">Title</h3>
                <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot2"></i>Important</span></span>
            </div>
            <h4 class="subtitle">CVE-2021-44228</h4>
            p
            <a href="#" class="read-more">Read More</a>
        </div>
        <div class="item rating1">
            <div class="item-header">
                <h3 class="title">Title</h3>
                <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot1"></i>Advisory</span></span>
            </div>
            <h4 class="subtitle">CVE-2021-44228</h4>
            p
            <a href="#" class="read-more">Read More</a>
        </div>
        <div class="item rating0">
            <div class="item-header">
                <h3 class="title">Title</h3>
                <span class="rating">Rating: <span class="score"><i class="fa-solid fa-circle ratingdot0"></i>Exist</span></span>
            </div>
            <h4 class="subtitle">CVE-2021-44228</h4>
            p
            <a href="#" class="read-more">Read More</a>
        </div>
    </div>
    <div class="read-more-wrapper">
        <a href="" class="see-all">See all the CVEs <i class="fa-solid fa-arrow-left-long fa-rotate-180" style="color: #017ab5"></i></a>
    </div>
</div>
<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dignissimos ullam, libero autem doloremque quisquam.
        Sapiente eligendi nostrum qui,
        facilis nam consequuntur possimus doloremque eos natus, voluptates facere ducimus minima!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero recusandae ullam sapiente iusto ipsum aspernatur, nihil debitis quis
        nam quibusdam cumque
        doloribus reprehenderit dolorum laudantium velit deserunt dolore consequuntur aliquam! Quisquam voluptate aut tempore, ad vitae
        cumque omnis ab illum
        cupiditate sint necessitatibus nobis velit laboriosam ducimus nesciunt ea! Expedita cumque voluptatum optio aperiam numquam
        voluptatem! Perspiciatis
        praesentium voluptatibus quod. Saepe aliquam iusto vitae, assumenda repellat earum fugit repellendus soluta quibusdam suscipit vero
        quas molestiae magnam.
        Nulla, vitae veritatis rerum, quam quibusdam dolor eius est voluptatum sit molestiae, aspernatur ipsum! Quas alias omnis
        consequuntur deleniti aspernatur
        mollitia dolores possimus ipsam expedita nulla excepturi reprehenderit voluptatem, repellat sit quidem molestiae sunt ipsa dolorem.
        Cumque aut quisquam
        facilis quos, minima deleniti omnis. Quasi minima ea nisi nostrum fugit harum! Recusandae quam tempora error alias temporibus labore
        ab cupiditate,
        assumenda, animi quos exercitationem ipsum deserunt itaque dicta voluptatibus ullam iste, porro neque eius? Nobis veniam dicta,
        nesciunt culpa error tempore
        velit eligendi sequi suscipit eum fuga repudiandae doloremque minima atque, consectetur autem quos exercitationem sapiente, modi
        eaque iure necessitatibus
        provident. Mollitia, similique aut. Saepe est nemo sint magni ullam. Odit nisi voluptates similique, quod eaque ex eos odio
        exercitationem qui numquam porro
        illum accusantium, pariatur earum minima harum perspiciatis iste. Obcaecati, rerum praesentium. Repudiandae molestiae nemo expedita
        nisi, reiciendis ratione
        alias nesciunt. Illum quas vitae, similique, doloremque delectus non officia nesciunt, commodi quis nam reprehenderit cumque neque
        dolor porro! Modi nulla
        officiis accusantium.
    </p>
</div>

{% endblock main %} {% block script %}
<script src="https://kit.fontawesome.com/c070b8016f.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="../static/lib/js/owl.carousel.min.js"></script>
<!-- for swiper js -->
<script>
    const swiper = new Swiper(".swiper", {
        direction: "horizontal",
        loop: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: true,
        },

        pagination: {
            el: ".swiper-pagination",
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
<!-- for owl carousel -->
<script>
    $(".owl-carousel").owlCarousel({
        items: 3,
        loop: true,
        margin: 10,
        nav: true,
        dots: false,
        autoplayTimeout: 1000,
        responsive: {
            0: {
                items: 1,
            },
            600: {
                items: 3,
            },
            1000: {
                items: 3,
            },
        },
    });
</script>
{% endblock script %}