{% extends "template.html" %}

{% block title %}Personal cyber issue{% endblock title %}

{% block id %}{% endblock id %}

{% block header %}
     <h1 id="report-cyber">Report Personal cyber issue</h1>
{% endblock header  %}

{% block main %}
       
    <div class="report-incdent-container">
        <a class="backbtn" href="/Incident-report">&#8592; Back</a>
        <div class="danger">
            <h2>If there is an immediate threat to life or risk of harm call your local police services</h2>
            <p>If you believe a cyber incident is an imminent threat to life or of a criminal nature, please contact your local police
                services. We encourage all victims to report cybercrime activities to law enforcement.</p>
        </div>
        <div class="beforreport">
            <h2>Submitting a report using this service</h2>
            <p> Reporting a cyber incident consists of four sections and takes approximately 10 minutes.</p>
            <ol>
                <li>Complainant's Informations</li>
                <li>Company or Person Complained Against</li>
                <li>description of the incident</li>
                <li>Evidences</li>
            </ol>
            <h2>Before you report:</h2>
            <p>Please make sure you have the following details ready before you start:</p>
            <ul>

                <li>Contact information for you</li>
                <li>Contact information for your organisation or the organisation you are reporting on behalf of</li>
                <li>Any details of how the cyber incident started and how the organisation was affected</li>
            </ul>
            <h2>Your report is important:</h2>
            <p>By reporting, you will be helping to stop other people from falling victim to the same issue. Your report will also assist
                the Algerian Cyber Security Centre and law enforcement agencies to disrupt cyber-crime operations and make Algeria the
                safest place to connect online.</p>
        </div>
        <a class="report-btn" href="/Individual-form">Start Reporting</a>
        <hr id="lasthr">
        <div class="helpus">
            <h3>Help us to help others</h3>
            <p> Sharing informative reports is crucial for us to comprehend the threat landscape and enhance the cyber intelligence
                capabilities. This subsequently improves our ability to help protect other Algerian organisations.</p>
        </div>
    </div>

{% endblock main %}