{% extends "template.html" %}

{% block title %}Report IOC{% endblock title %}

{% block id %}categories{% endblock id %}

{% block header %}
<h1 id="report-cyber">Report an IOC</h1>
{% endblock header %}

{% block main %}
<div class="report-incdent-container">
    <div class="explain ioc">
        <h2>What is an IOC ?</h2>
        <p>Indicators of Compromise (IOCs) are pieces of information that can help detect and identify potential security threats or
            attacks.
            IOCs can include any data that suggests malicious activity in IP addresses or domain names.</p>
        <p>By collecting and analyzing IOCs reports, security professionals can identify patterns and trends in attacks and develop
            strategies
            to protect against future threats. these reports will be shared within the security community to improve threat intelligence
            and
            response efforts.</p>
    </div>
    <h2>What Are Cyber Threat Indicators and Defensive Measures?</h2>
    <p>The term “cyber threat indicator” means information that is necessary to describe or identify</p>
    <p>
    <ul class="ioc-defensive">
        <li>Malicious reconnaissance, including anomalous patterns of communications that appear to be transmitted for the purpose of
            gathering technical information related to a cybersecurity threat or security vulnerability</li>
        <li>A method of defeating a security control or exploitation of a security vulnerability</li>
        <li>A security vulnerability, including anomalous activity that appears to indicate the existence of a security vulnerability</li>
        <li>A method of causing a user with legitimate access to an information system or information that is stored on, processed by, or
            transiting an information system to unwittingly enable the defeat of a security control or exploitation of a security
            vulnerability</li>
        <li>Malicious cyber command and control</li>
    </ul>
    </p>
    <h2>Report The IOC</h2>
    <p>Reporting Indicators of Compromise (IOCs) to the appropriate authorities or security teams is crucial in the fight against
        cybercrime
        and other security threats. By sharing IOCs, security professionals can collaborate and coordinate efforts to identify,
        investigate,
        and respond to potential attacks.</p>

    <a class="report-btn" href="/IOC-report-form">Start Reporting</a>
    <hr id="lasthr">
    <div class="helpus">
        <h3>Help us to help others</h3>
        <p> Sharing informative reports is crucial for us to comprehend the threat landscape and enhance the cyber intelligence
            capabilities. This subsequently improves our ability to help protect other Algerian organizations.</p>
    </div>
</div>
{% endblock main %}

{% block script %}
{% endblock script %}