{% extends "template.html" %}

{% block title %}IOC form{% endblock title %}

{% block id %}{% endblock id %}

{% block header %}
<h1 id="report-cyber">Report an IOC</h1>
{% endblock header %}

{% block main %}

<div class="report-incdent-container">
  <a class="backbtn" href="/IOC-report">&#8592; Back</a>
  <div class="main-wrapper">
    <div class="form-wrapper">
      <form action="" method="POST">

        <h3 class="section">Section 1</h3>
        <h2>Submitter's Contact Informations</h2>
        <p>
          How much personal information you provide is up to you, however too little information may impact our ability to properly respond
          to or handle your request.
        </p>
        <div class="explain form-explain">
          <p>Mandatory fields are marked with an asterisk (<span class="Mandatory">*</span>).</p>
        </div>
        <div class="textBox">
          <label for="first_name" class="form-label"> First Name <span class="Mandatory">*</span></label>
          <br />
          <p class="helpText">Please provide your first name.</p>
          <input type="text" id="first_name" maxlength="49" pattern="[^]*" name="first_name" autocomplete="on" value=""
            class="form-input" />
        </div>
        <div class="textBox">
          <label for="last_name" class="form-label"> Last Name <span class="Mandatory">*</span></label>
          <br />
          <p class="helpText">Please provide your last name.</p>
          <input type="text" id="last_name" maxlength="49" pattern="[^]*" name="last_name" autocomplete="on" value="" class="form-input" />
        </div>
        <div class="textBox">
          <label for="contact_email" class="form-label"> Email <span class="Mandatory">*</span></label>
          <br />
          <p class="helpText">Please provide a valid email address.</p>
          <input type="email" id="contact_email" maxlength="100" pattern="[^]*" name="contact_email" autocomplete="on" value=""
            class="form-input" />
        </div>
        <div class="textBox">
          <label for="telephone_number" class="form-label"> Telephone </label>
          <br />
          <p class="helpText"></p>
          <input type="text" id="telephone_number" maxlength="40" pattern="[^]*" name="telephone_number" autocomplete="on" value=""
            class="form-input" />
        </div>
        <hr class="section_end" />
        <h3 class="section">Section 2</h3>
        <h2>IOC Description</h2>
        <div class="textBox">
          <label class="form-label">
            What is the type of the website ?
            <p class="helpText">Please slect an option</p>
          </label>
          <div class="radio-group">
            <label class="radio-label">
              <input class="input-radio" type="radio" name="type" value="private" />
              Private website
            </label>
          </div>
          <div class="radio-group">
            <label class="radio-label">
              <input class="input-radio" type="radio" name="type" value="governement" />
              Government website
            </label>
          </div>
          <div class="iocurl textBox">
            <label for="url" class="form-label">Enter the website URL: </label>
            <input type="text" id="iocurl" name="url" placeholder="example.com" autocomplete="off" class="form-input" />
          </div>
          <div class="input-checkbox-wrapper">
            <label class="form-label"> What are the IOCs you detect in this website : </label><br />
            <label class="cl-checkbox">
              <input type="checkbox" name="ioc[]" value="Unusual Outbound Network Traffic" />
              <span>Unusual Outbound Network Traffic</span> </label><br />
            <label class="cl-checkbox">
              <input type="checkbox" name="ioc[]" value="Anomalies in Privileged User Account Activity" /><span>Anomalies in Privileged User
                Account Activity</span> </label><br />
            <label class="cl-checkbox"> <input type="checkbox" name="ioc[]" value="Geographical Irregularities" /><span>Geographical
                Irregularities</span> </label><br />
            <label class="cl-checkbox"> <input type="checkbox" name="ioc[]" value="Log-In Red Flags" /><span>Log-In Red Flags</span>
            </label><br />
            <label class="cl-checkbox">
              <input type="checkbox" name="ioc[]" value="Increases in Database Read Volume" /><span>Increases in Database Read Volume</span>
            </label><br />
            <label class="cl-checkbox"> <input type="checkbox" name="ioc[]" value="HTML Response Sizes" /><span>HTML Response Sizes</span>
            </label><br />
            <label class="cl-checkbox">
              <input type="checkbox" name="ioc[]" value="Large Numbers of Requests for the Same File" /><span>Large Numbers of Requests for
                the Same File</span> </label><br />
            <label class="cl-checkbox">
              <input type="checkbox" name="ioc[]" value="Mismatched Port-Application Traffic" /><span>Mismatched Port-Application
                Traffic</span>
            </label><br />
            <label class="cl-checkbox">
              <input type="checkbox" name="ioc[]" value="Suspicious Registry or System File Changes" /><span>Suspicious Registry or System
                File Changes</span> </label><br />
            <label class="cl-checkbox"> <input type="checkbox" name="ioc[]" value="Unusual DNS Requests" /><span>Unusual DNS Requests</span>
            </label><br />
            <label class="cl-checkbox"> <input type="checkbox" name="ioc[]" value="Unexpected Patching of Systems" /><span>Unexpected
                Patching of Systems</span> </label><br />
            <label class="cl-checkbox"> <input type="checkbox" name="ioc[]" value="Mobile Device Profile Changes" /><span>Mobile Device
                Profile Changes</span> </label><br />
            <label class="cl-checkbox">
              <input type="checkbox" name="ioc[]" value="Bundles of Data in the Wrong Place" /><span>Bundles of Data in the Wrong
                Place</span>
            </label><br />
            <label class="cl-checkbox">
              <input type="checkbox" name="ioc[]" value="Web Traffic with Unhuman Behavior" /><span>Web Traffic with Unhuman Behavior</span>
            </label><br />
            <label class="cl-checkbox"> <input type="checkbox" name="ioc[]" value="Signs of DDoS Activity" /><span>Signs of DDoS
                Activity</span>
            </label><br />
          </div>
          <div class="textBox">
            <label for="otherioc" class="form-label"> Other IOC</label>
            <br />
            <input type="text" id="otherioc" maxlength="49" pattern="[^]*" name="first_name" value="" class="form-input" />
          </div>
          <div>
            <label for="description" class="form-label"> Description </label>
            <textarea rows="7" name="description" id="description" placeholder="provide more details ..." class="form-input"></textarea>
          </div>
        </div>
        <button class="btn">Submit</button>
      </form>
    </div>
  </div>
  <hr id="lasthr" />
  <div class="helpus">
    <h3>Help us to help others</h3>
    <p>
      Sharing informative reports is crucial for us to comprehend the threat landscape and enhance the cyber intelligence capabilities. This
      subsequently improves our ability to help protect other Algerian organisations.
    </p>
  </div>
</div>
{% endblock main %}