{% extends "template.html" %}

{% block title %}Report IOC{% endblock title %}

{% block id %}categories{% endblock id %}

{% block header %}
<h1 id="report-cyber">Report an IOC</h1>
{% endblock header %}

{% block main %}
<div class="report-incdent-container">
    <div class="explain ioc">
        <h2>What is an IOC ?</h2>
        <p>Indicators of Compromise (IOCs) are pieces of information that can help detect and identify potential security threats or
            attacks.
            IOCs can include any data that suggests malicious activity in IP addresses or domain names.</p>
        <p>By collecting and analyzing IOCs reports, security professionals can identify patterns and trends in attacks and develop
            strategies
            to protect against future threats. these reports will be shared within the security community to improve threat intelligence
            and
            response efforts.</p>
    </div>
    <h2>Report The IOC</h2>
    <p>Reporting Indicators of Compromise (IOCs) to the appropriate authorities or security teams is crucial in the fight against
        cybercrime
        and other security threats. By sharing IOCs, security professionals can collaborate and coordinate efforts to identify,
        investigate,
        and respond to potential attacks.</p>

    <a class="report-btn" href="/IOC-report-form">Start Reporting</a>
    <hr id="lasthr">
    <div class="helpus">
        <h3>Help us to help others</h3>
        <p> Sharing informative reports is crucial for us to comprehend the threat landscape and enhance the cyber intelligence
            capabilities. This subsequently improves our ability to help protect other Algerian organisations.</p>
    </div>
</div>
{% endblock main %}

{% block script %}
{% endblock script %}