{% extends "template.html" %}

{% block link %}
{% endblock link %}
{% block title %}Cyber report{% endblock title %}

{% block id %}Scan a service{% endblock id %}

{% block header %}
<h1 id="report-cyber">Scan A Service</h1>
{% endblock header %}

{% block main %}
<div class="report-incdent-container">
    <div class="explain">
        <h2>What does the scan service provide ?</h2>
        <p>The scan service provides a detailed report of the domain name you want to scan to help you identify potential security threats
            or attacks.</p>

    </div>
    <h2>Before you start scanning</h2>
    <p>Before scanning, please ensure that you enter a valid domain name in the input field. The scan input will only accept the root URL
        without the <span class="Mandatory">http://</span> or <span class="Mandatory">https://</span> prefix and without the <span
            class="Mandatory">Folder name</span> and <span class="Mandatory">Web page name</span>.</p>
    <div class="help-section">
        <button class="help-btn" onclick="toggleHelp()"><i class="fa-solid fa-caret-right" id="expandicon"></i> Click See The correct domain
            form</button>
        <div class="help-content">
            <img src="../static/img/Domain.svg" alt="Example of valid domain name format">
            <img src="../static/img/Domain2.svg" alt="Example of valid domain name format">
        </div>
    </div>
    <form id="my-form" action="/scan" method="post">
        <div id="scan-input" class="textBox">
            <label for="first_name" class="form-label"> Enter The Target Domain Name</label>
            <br />
            <p class="helpText">Please provide a valid domain name</p>
            <div class="scan-input">
                <input type="domain" id="domain" maxlength="49" pattern="[^]*" name="domain" autocomplete="on" value=""
                    class="form-input" />
                <button id="scan-btn" class="btn scan-btn" onclick="startScan()">Scan The Domain</button>
            </div>
        </div>
    </form>

    <div id="loader" class="loading hidden-loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>

    </div>
    <div id="text-loader" class="hidden-loader text-loader">
        <p>Scan in Progress... be patient</p>
    </div>

    <div class="scanwork">
        <h2>How the scan is working ?</h2>
        <p>The scan service is done using the nmap tool to perform a port scan on the domain specified, this will detect the open ports and
            vulnerabilities on the target domain.This type of scan can be useful for identifying potential security vulnerabilities in a
            network or host, and can help system administrators take steps to secure their systems against potential attacks.</p>
    </div>
    <div class="help-section">
        <button class="help-btn" onclick="togglemore()"><i class="fa-solid fa-caret-right expandicon" id="expandicon"></i> 
            Click to understand more about the Nmap scan process</button>
        <div class="help-content more">
            <p>The Nmap tool works by sending packets to the target network or host and analyzing the responses it receives. By doing so, it
                can determine which ports are open and which services are running on those ports. In addition, Nmap can attempt to identify
                the versions of services running on open ports and check those versions against a database of known vulnerabilities. This
                can help identify potential security weaknesses on the target network or host.</p>
            <p> The sevice also used for providing additional vulnerability detection capabilities by using various methods to identify known
                vulnerabilities in the target system, including checking against a database of known vulnerabilities and performing active
                checks against the target system.</p>
            <div class="warn terms">
                <h2>Terms and conditions</h2>
                <p> Note that it's important to consider that the scan should only be used for legitimate purposes and with the permission
                    of the target network or host owner. The unauthorized use of these tools can be illegal and can result in serious
                    consequences.</p>
            </div>
        </div>
    </div>
    <hr id="lasthr">
    <div class="helpus">
        <h3>Help us to help others</h3>
        <p> Sharing informative reports is crucial for us to comprehend the threat landscape and enhance the cyber intelligence
            capabilities. This subsequently improves our ability to help protect other Algerian organizations.</p>
    </div>
</div>
{% endblock main %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    function startScan() {
        event.preventDefault();
        // Get the button and loader elements
        const btn = document.getElementById("scan-btn");
        const parent = document.getElementById("scan-input");
        const url = document.getElementById("domain");
        const loader = document.getElementById("loader");
        const form = document.getElementById("my-form");
        const text = document.getElementById("text-loader")

        if (url.value == "") {
            parent.classList.add("required");
        }
        else {
            parent.classList.remove("required");
            // Disable the button and show the loader
            btn.setAttribute("disabled", "");
            loader.classList.remove("hidden-loader");
            text.classList.remove("hidden-loader");
            // Scroll to the input form
            parent.scrollIntoView({ behavior: 'smooth', block: 'start' });
            // Submit the form
            form.submit();
            // Update the text after 10 seconds
            setTimeout(function () {
                text.innerHTML = "<p>Scan Almost Completed...</p>";
                text.classList.add("text-loader");
            }, 20000);
            // Update the text after 20 seconds
            setTimeout(function () {
                text.innerHTML = "<p>This may take longer!</p>";
                text.classList.add("text-loader");
            }, 30000);
            // Update the text after 30 seconds
            setTimeout(function () {
                text.innerHTML = "<p>Redirecting...</p>";
                text.classList.add("text-loader");
            }, 40000);
        }
    }

    // Toggle the help content
    function toggleHelp() {
        const helpContent = document.querySelector('.help-content');
        const expand = document.getElementById("expandicon");
        helpContent.classList.toggle('show');
        if (expand.classList.contains('fa-caret-right')) {
            expand.classList.remove('fa-caret-right');
            expand.classList.add('fa-caret-down');
        }
        else {
            expand.classList.remove('fa-caret-down');
            expand.classList.add('fa-caret-right');
        }
    }

    // Toggle the help content
    function togglemore() {
        const moreContent = document.querySelector('.more');
        const expand = document.querySelector('.expandicon');
        moreContent.classList.toggle('show');
        if (expand.classList.contains('fa-caret-right')) {
            expand.classList.remove('fa-caret-right');
            expand.classList.add('fa-caret-down');
        }
        else {
            expand.classList.remove('fa-caret-down');
            expand.classList.add('fa-caret-right');
        }
    }
</script>
{% endblock script %}