@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

/* ----- table of content ----- */
/*! ---- I- header & footer-------- */
/* ? 1) header */
/* ? 2) footer */
/*! ---- II- report.html -------- */
/* ? 1) notes */
/* ? 2) categories */
/*! ---- III- pre-report -------- */
/* ? 1) befor you report */
/* ------------------------------- */
:root{
    --main-color: #041e52;
    --cayan-color: #017ab5;
    --warning-color: #f5a523;
    --danger-color: #c00718;
}
* {
    margin: 0;
    font-family: 'Poppins';
}

p {
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 400;
}

/*! -------------------------------- I- header -----------------------------#ff0000 */
/*? -------------------------------- 1) header -------------------------------#1100ff */
header {
    /* background: radial-gradient(circle at 50% 100%, #1d4186, #051c48 75%); */
    background-color: var(--main-color);
    height: 18rem;
}

.top-header {
    display: flex;
}

header h1 {
    color: #ffffff;
    padding-left: 8rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}

header h2 {
    color: #ffffff;
    padding-left: 9rem;
}

header img {
    height: auto;
    max-width: 45%;
    padding-left: 5em;
    margin: 0;
}

header hr {
    border: 1px solid #ffffff80;
    width: 1200px;
    padding: 0;
    padding-left: 2rem;
    margin-left: 8rem;
}

.right-nav-container {
    font-size: 1rem;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    margin-right: 8rem;
    border: 0.5px solid rgba(0, 0, 0, 0.151);
    border-radius: 25px;
    background-color: rgba(1, 18, 51, 0.587);
    padding: 7px 17px;
}

.header-links {
    display: flex;
    flex-direction: row;
}

.item {
    margin: 0px 10px;
    text-decoration: none;
}

.utility-items ul {
    margin-top: 0;
    margin: auto;
    padding: 0;
    border: 0;
    list-style-type: none;
    text-transform: none;
    color: #ffffff;
}

.menu-link {
    color: #ffffff;
    text-decoration: none;
}

.item a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.item a, .item a:visited {
    color: #ffffff;
}

.item a:hover {
    text-decoration: underline;
}

.menu-link {
    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    line-height: normal;
    letter-spacing: normal;
    margin: auto;
    text-transform: none;
    color: #fff;
    text-decoration: none;
}

/*? -------------------------------- 2) footer -------------------------------#1100ff */
.footer-distributed {
    /* background: radial-gradient(circle at 50% 100%, #1d4186, #051c48 75%); */
    background-color: var(--main-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px;
    padding: 5px 50px;
    color: white;
    margin-top: 75px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left img {
    max-width: 55%;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-center h6 {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.footer-center .footer-links a {
    color: white;
    text-decoration: none;
}

.footer-center .footer-links li {
    list-style-type: none;
}

.footer-distributed .footer-links a:before {
    content: "";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
    text-decoration: none;
}

.footer-distributed .footer-links a:hover {
    text-decoration: underline;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    margin: 0px 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 25px;
}

/*! -------------------------------- IT- report.html-----------------------------#ff0000 */
/*? -------------------------------- 1) notes -------------------------------#1100ff */

#categories {
    display: flex;
    flex-direction: column;
}

#report-cyber {
    padding-top: 1rem;
    padding-left: 10rem;
}

.report-incdent-container {
    z-index: 2;
    background-color: #fff;
    padding: 15px;
    margin: -75px 12rem;
    max-width: 100rem;
    top: -50px;
}

.explain {
    background-color: #def7ff;
    border-left: 5px solid var(--cayan-color);
    padding: 15px;
    margin-bottom: 1rem;
}

.explain h2 {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.explain p {
    font-weight: 500;
    line-height: 30px;
}

.report-incdent-container p {
    font-size: 1.2rem;
    font-family: 'Poppins';
    margin-bottom: 1rem;
}

.warn {
    background-color: #fff0d6;
    border-left: 5px solid var(--warning-color);
    padding: 15px;
    margin-bottom: 1rem;
}

.warn h2 {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.warn ul {
    font-weight: 500;
    line-height: 30px;
}

/*? -------------------------------- 2) categories -------------------------------#1100ff */

.categories {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(210, 208, 206);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 20px 15px;
    max-width: 1100px;
    font-size: 20px;
    font-weight: 600;
}

.categories a {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.categories:hover {
    border-color: #0078d4;
    background-color: #e8f5ff;
}

.categorie i {
    margin-right: 15px;
}

.categorie a {
    text-decoration: none;
    color: black;
}

#lasthr {
    margin-top: 30px;
    margin-bottom: 1rem;
}

.helpus p {
    margin: 0.5rem 0px;
}

/*! -------------------------------- III) Pre-report-----------------------------#ff0000 */
/*? -------------------------------- 1) befor you report  -------------------------------#1100ff */

.danger {
    background-color: #fcf2f3;
    border-left: 5px solid var(--danger-color);
    padding: 15px;
    margin-bottom: 1rem;
}

.danger h2 {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.danger p {
    font-weight: 500;
    line-height: 30px;
}

.beforreport h2 {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.beforreport p {
    font-weight: 400;
    margin-bottom: 0.4rem;
}

.beforreport li {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

a.report-btn {
    margin-top: 20px;
    background-color: #196bca;
    color: #fff;
    font-family: 'Poppins';
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 6px 14px;
    border: 0px solid #ffffff;
    border-radius: 100px;
    display: inline-block;
}

a.report-btn:hover {
    background-color: #0e4787;
}

a.report-btn:active {
    transform: scale(0.95);
}

a.back-btn {
    margin-top: 20px;
    margin-left: 60px;
    background-color: #adb5bd;
    color: #fff;
    font-family: 'Poppins';
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 6px 14px;
    border: 0px solid #ffffff;
    border-radius: 100px;
    display: inline-block;
}

a.back-btn:hover {
    background-color: #6c757d;
}

a.back-btn:active {
    transform: scale(0.95);
}

/*! -------------------------------- IV) Report Form -----------------------------#ff0000 */
/*? -------------------------------- 1) Container -------------------------------#1100ff */
.form-container {
    z-index: 2;
    background-color: #fff;
    padding: 15px;
    margin: -75px 12rem;
    max-width: 100rem;
    top: -50px;
}
.backbtn{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.Mandatory{
    color: var(--danger-color);
}
h3.section{
    margin-top: 1.5rem;
}
.section{
    color: gray;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0.4rem;
}
.form-container h2 {
    margin-bottom: 1rem;
}
.form-explain{
    margin-top: 1rem;
}
form{
   display: block; 
}
label { 
    display:  inline-block; 
    margin-bottom:  0;
    font-weight: 500;
    font-size: large;
} 
.input-radio-wrapper{
    display: flex;
    flex-direction: column;
}
