@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

/* ----- table of content ----- */
/*! ---- I- header -------- */
/*! ---- II- report.html -------- */
/* ? 1) categories */
* {
    margin: 0;
    font-family: 'Poppins';
}

/*! -------------------------------- I- header -----------------------------#ff0000 */
header {
    background-color: rgb(4, 30, 82);
    height: 18rem;

}

header h1 {
    color: #ffffff;
    padding-left: 8rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}

header h2 {
    color: #ffffff;
    padding-left: 9rem;
}

header img {
    height: auto;
    max-width: 50%;
    padding-left: 5em;
    margin: 0;
}

header hr {
    border: 1px solid #ffffff;
    width: 100px;
    rotate: 90deg;
    padding: 0;
    margin: 0;
}

/*! -------------------------------- IT- report.html-----------------------------#ff0000 */
/*? -------------------------------- 1) categories -------------------------------#1100ff */

.categories {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin: 15px;
    max-width: 30em;
}

.categories:hover {
    border-color: #0078d4;
    background-color: #e8f5ff;
}

#categories a {
    text-decoration: none;
    color: black;
}