@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

/* ----- table of content ----- */
/*! ---- I- header -------- */
/*! ---- II- report.html -------- */
/* ? 1) categories */
* {
    margin: 0;
    font-family: 'Poppins';
}

/*! -------------------------------- I- header -----------------------------#ff0000 */
header {
    /* background-color: rgb(4, 30, 82); */
    background: radial-gradient(circle at 50% 100%, #1d4186, #051c48 75%);
    height: 18rem;

}

.top-header {
    display: flex;
}

header h1 {
    color: #ffffff;
    padding-left: 8rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}

header h2 {
    color: #ffffff;
    padding-left: 9rem;
}

header img {
    height: auto;
    max-width: 47%;
    padding-left: 5em;
    margin: 0;
}

header hr {
    border: 1px solid #ffffff80;
    width: 1200px;
    padding: 0;
    padding-left: 2rem;
    margin-left: 8rem;
}

.right-nav-container {
    font-size: 1rem;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    margin-right: 8rem;
    border: 0.5px solid rgba(0, 0, 0, 0.151);
    border-radius: 25px;
    background-color: rgba(1, 18, 51, 0.587);
    padding: 7px 17px;
}

.header-links {
    display: flex;
    flex-direction: row;
}

.item {
    margin: 0px 10px;
    text-decoration: none;
}

.utility-items ul {
    margin-top: 0;
    margin: auto;
    padding: 0;
    border: 0;
    list-style-type: none;
    text-transform: none;
    color: #ffffff;
}

.menu-link {
    color: #ffffff;
    text-decoration: none;
}

.item a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.item a, .item a:visited {
    color: #ffffff;
}

.item a:hover {
    text-decoration: underline;
}

.menu-link {
    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    line-height: normal;
    letter-spacing: normal;
    margin: auto;
    text-transform: none;
    color: #fff;
    text-decoration: none;
}

/*! -------------------------------- IT- report.html-----------------------------#ff0000 */
/*? -------------------------------- 1) categories -------------------------------#1100ff */

#report-cyber{
    padding-top: 2rem;
    padding-left: 10rem;
}
.report-incdent-container {
    z-index: 2;
    background-color: #fff;
    /* border: 1px solid black; */
    padding: 5px;
    margin: -50px 12rem;
    max-width: 100rem;
    top: -50px;
}
.categories {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin: 15px;
    max-width: 30em;
}

.categories:hover {
    border-color: #0078d4;
    background-color: #e8f5ff;
}

.categorie a {
    text-decoration: none;
    color: black;
}