@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

/* ----- table of content ----- */
/*! ---- I- header & footer-------- */
/* ? 1) header */
/* ? 2) footer */
/*! ---- II- report.html -------- */
/* ? 1) notes */
/* ? 2) categories */
/*! ---- III- pre-report -------- */
/* ? 1) befor you report */
/*! ---- IV- IOC report -------- */
/* ? 1) IOC form */
/*! ---- V- Index -------- */
/* ? 1) slider */
/* ------------------------------- */
:root {
    --main-color: #041e52;
    --cyan-color: #017ab5;
    --cyan-color2: #def7ff;
    --warning-color: #f5a523;
    --warning-color2: #fff0d6;
    --danger-color: #c00718;
    --danger-color2: #fcf2f3;
    --bg-color: #f5f6fa;
}

* {
    margin: 0;
    font-family: 'Poppins';
}

p {
    font-size: 1.2rem;
    font-weight: 400;
}

body {
    background-color: var(--bg-color);
}

/*! -------------------------------- I- header -----------------------------#ff0000 */
/*? -------------------------------- 1) header -------------------------------#1100ff */
header {
    /* background: radial-gradient(circle at 50% 100%, #1d4186, #051c48 75%); */
    background-color: var(--main-color);
    height: 18rem;
}

.top-header {
    display: flex;
}

header h1 {
    color: #ffffff;
    padding-left: 9rem;
    font-size: 3rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

header h2 {
    color: #ffffff;
    padding-left: 12rem;
}

header img {
    height: auto;
    max-width: 45%;
    padding-left: 5em;
    margin: 0;
}

header hr {
    border: 1px solid #ffffff80;
    width: 1200px;
    padding: 0;
    padding-left: 2rem;
    margin-left: 8rem;
}

.right-nav-container {
    font-size: 1rem;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    margin-right: 8rem;
    border: 0.5px solid rgba(0, 0, 0, 0.151);
    border-radius: 25px;
    background-color: rgba(1, 18, 51, 0.587);
    padding: 7px 17px;
}

.header-links {
    display: flex;
    flex-direction: row;
}

.item {
    margin: 0px 10px;
    text-decoration: none;
}

.utility-items ul {
    margin-top: 0;
    margin: auto;
    padding: 0;
    border: 0;
    list-style-type: none;
    text-transform: none;
    color: #ffffff;
}

.menu-link {
    color: #ffffff;
    text-decoration: none;
}

.item a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.item a, .item a:visited {
    color: #ffffff;
}

.item a:hover {
    text-decoration: underline;
}

.menu-link {
    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    line-height: normal;
    letter-spacing: normal;
    margin: auto;
    text-transform: none;
    color: #fff;
    text-decoration: none;
}

/*? -------------------------------- 2) footer -------------------------------#1100ff */
.footer-distributed {
    /* background: radial-gradient(circle at 50% 100%, #1d4186, #051c48 75%); */
    background-color: var(--main-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px;
    padding: 5px 50px;
    color: white;
    margin-top: 75px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left img {
    max-width: 55%;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-center h6 {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.footer-center .footer-links a {
    color: white;
    text-decoration: none;
}

.footer-center .footer-links li {
    list-style-type: none;
}

.footer-distributed .footer-links a:before {
    content: "";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
    text-decoration: none;
}

.footer-distributed .footer-links a:hover {
    text-decoration: underline;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    margin: 0px 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 25px;
}

/*! -------------------------------- II- report.html-----------------------------#ff0000 */
/*? -------------------------------- 1) notes -------------------------------#1100ff */

#categories {
    display: flex;
    flex-direction: column;
}

#report-cyber {
    padding-top: 1rem;
    padding-left: 10rem;
}

.report-incdent-container {
    z-index: 2;
    background-color: var(--bg-color);
    padding: 15px;
    margin: -75px 10rem;
    max-width: 100rem;
    top: -50px;
}

.explain {
    margin-top: 5px;
    background-color: #def7ff;
    border-left: 5px solid var(--cyan-color);
    padding: 15px;
    margin-bottom: 25px;
}

.explain h2 {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.explain p {
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0 !important;
}

.report-incdent-container p {
    font-size: 1.2rem;
    font-family: 'Poppins';
    margin-bottom: 25px;
}

.warn {
    background-color: #fff0d6;
    border-left: 5px solid var(--warning-color);
    padding: 15px;
    margin-bottom: 25px;
}

.warn h2 {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.warn ul {
    font-weight: 500;
    line-height: 30px;
}

/*? -------------------------------- 2) categories -------------------------------#1100ff */

.categories {
    border: 1px solid rgb(139, 133, 127);
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    margin: 25px 15px;
    max-width: 1100px;
    font-size: 20px;
    font-weight: 600;
}

.categories small {
    display: flex;
    width: 100%;
    color: rgba(87, 87, 87, 0.808);
    font-weight: 400;
    margin: 15px 0px;
}

.categories a {
    display: flex;
    flex-direction: c;
    width: 100%;
}

.categories:hover {
    border-color: #0078d4;
    background-color: #e8f5ff;
}

.categorie i {
    margin-right: 15px;
    margin-top: 4px;
}

.categorie a {
    text-decoration: none;
    color: black;
}

#lasthr {
    margin-top: 30px;
    margin-bottom: 1rem;
}

.helpus p {
    margin: 0.5rem 0px;
}

/*! -------------------------------- III) Pre-report-----------------------------#ff0000 */
/*? -------------------------------- 1) befor you report  -------------------------------#1100ff */

.danger {
    background-color: #fcf2f3;
    border-left: 5px solid var(--danger-color);
    padding: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.danger h2 {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.danger p {
    font-weight: 500;
    line-height: 30px;
}

.beforreport h2 {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.beforreport p {
    font-weight: 400;
    margin-bottom: 0.4rem;
}

.beforreport li {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

a.report-btn {
    margin-top: 20px;
    background-color: #196bca;
    color: #fff;
    font-family: 'Poppins';
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 6px 14px;
    border: 0px solid #ffffff;
    border-radius: 100px;
    display: inline-block;
}

a.report-btn:hover {
    background-color: #0e4787;
}

a.report-btn:active {
    transform: scale(0.95);
}

/*! -------------------------------- IV) Report Form -----------------------------#ff0000 */
/*? -------------------------------- 1) Container -------------------------------#1100ff */
.form-container {
    z-index: 2;
    background-color: var(--bg-color);
    padding: 15px;
    margin: -75px 10rem;
    max-width: 100rem;
    top: -50px;
}

.backbtn {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.backbtn:hover {
    text-decoration: underline;
}

.Mandatory {
    color: var(--danger-color);
}

.formErrorText {
    color: var(--danger-color);
    font-size: 1.3rem;
    font-weight: 500 !important;
    margin-top: 0.2rem;
    padding: 1rem;
    background-color: var(--danger-color2);
    border-left: 5px solid var(--danger-color);
    display: none;
}

p.formError {
    display: block !important;
}

h3.section {
    margin-top: 1.5rem;
}

.section {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.form-container h2 {
    margin-bottom: 1rem;
}

.form-explain {
    margin-top: 1rem;
}

form {
    display: block;
}

.textBox {
    margin-bottom: 1.8%;
    margin-top: 1.8%;
    padding: 10px;
}

label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    font-size: large;
}

.form-input {
    margin-bottom: 1rem;
    align-self: stretch;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
    display: block;
    font-size: 1rem;
    line-height: var(--lh-body-sm);
    margin: 4px 0px;
    padding: 7px 16px;
    width: 97%;
}


.input-radio-wrapper {
    display: flex;
    flex-direction: column;
}

.input-radio {
    height: 20px;
    width: 20px;
    left: 0;
    margin: 0;
    --active-color: var(--main-color);
}

input[type='radio']:after {
    background-color: var(--main-color);
}

input[type='radio']:hover {
    background-color: var(--main-color);
}

.radio-group {
    margin-top: 5px;
}

.radio-label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: large;
}

.radio-label:first-of-type {
    margin-top: 5px;
}

.radio-label:last-of-type {
    margin-bottom: 0px;
}

.section_end {
    border: 3px solid var(--main-color);
    border-radius: 50px;
}

#country {
    width: 100%;
    border: 2px solid black;
}

.lastinput {
    margin-bottom: 15px;
}

textarea {
    border: 2px solid black;
}

.form-warn {
    background-color: #fff0d6;
    border-left: 5px solid var(--warning-color);
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.helpText {
    display: none;
    color: var(--danger-color);
    font-weight: 600;
    font-size: 15px;
}

.required {
    background-color: #fcf2f3;
    border-left: 5px solid var(--danger-color);
}

.required p {
    display: block;
    font-weight: 300;
}

/** ------------ upload file ------------ */
.uploader {
    background: var(--bg-color);
    border-radius: 5px;
    margin-bottom: 30px;
}

.uploader .uploadbox {
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid #000000;
    background-color: white;
}

.uploadbox :where(i, p) {
    color: var(--main-color);
}

.uploadbox i {
    font-size: 50px;
}

.uploadbox p {
    margin-top: 15px;
    font-size: 16px;
}

section .row {
    margin-bottom: 10px;
    background: var(--cyan-color2);
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    color: var(--main-color);
    font-size: 30px;
}

section .details span {
    font-size: 14px;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .content .progress-bar {
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.content .progress-bar .progress {
    height: 100%;
    width: 0%;
    background: var(--main-color);
    border-radius: inherit;
}

.uploaded-area {
    overflow-y: scroll;
}

.uploaded-area.onprogress {
    max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
    width: 10px;
}

.uploaded-area .row .content {

    display: flex;
    align-items: center;
}

.uploaded-area .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .row .details .size {
    color: #404040;
    font-size: 11px;
}

.uploaded-area i.fa-check {
    font-size: 16px;
}

.fa-remove {
    font-size: 20px !important;
}

.fa-remove:hover {
    color: black;
    cursor: pointer;
}

/** --------------- */
.btn {
    background-color: #196bca;
    color: #fff;
    font-family: 'Poppins';
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 6px 14px;
    border: 0px solid #ffffff;
    border-radius: 100px;
    display: inline-block;
}

.btn:hover {
    background-color: #0e4787;
}

.btn:active {
    transform: scale(0.95);
}

/*! -------------------------------- IV- IOC report  -----------------------------#ff0000 */
/*? -------------------------------- 1) IOC form  -------------------------------#1100ff */
.ioc {
    margin-top: 16px;
}

.iocurl {
    margin-bottom: 1rem;
    padding: 0;
}

input[type="checkbox"] {
    margin-right: 5px;

}

.cl-checkbox {
    position: relative;
    display: inline-block;
    margin: 0.4rem;
}

.input-checkbox-wrapper {
    margin-top: 2rem;
}

/* Input */
.cl-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.cl-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox > input:checked,
.cl-checkbox > input:indeterminate {
    background-color: var(--main-color);
}

.cl-checkbox > input:checked + span::before,
.cl-checkbox > input:indeterminate + span::before {
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.cl-checkbox > input:checked + span::after,
.cl-checkbox > input:indeterminate + span::after {
    border-color: #fff;
}

.cl-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover > input {
    opacity: 0.04;
}

.cl-checkbox > input:focus {
    opacity: 0.12;
}

.cl-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.cl-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-checkbox > input:active + span::before {
    border-color: var(--cyan-color);
}

.cl-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.cl-checkbox > input:disabled {
    opacity: 0;
}

.cl-checkbox > input:disabled + span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.cl-checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.cl-checkbox > input:checked:disabled + span::before,
.cl-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}

/*! -------------------------------- V- Index  -----------------------------#ff0000 */
/*? -------------------------------- 1) slider -------------------------------#1100ff */
.swiper {
    width: 800px;
    height: 420px;
}

/* .slider {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
} */

/* @font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://www.free-css.com/assets/files/free-css-templates/preview/page281/biznews/assets/css/fonts/fa-regular-400.eot);
    src: url(https://www.free-css.com/assets/files/free-css-templates/preview/page281/biznews/assets/css/fonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(https://www.free-css.com/assets/files/free-css-templates/preview/page281/biznews/assets/css/https://www.free-css.com/assets/files/free-css-templates/preview/page281/biznews/assets/css/fonts/fa-regular-400.woff2) format("woff2"), url(fonts/fa-regular-400.woff) format("woff"), url(https://www.free-css.com/assets/files/free-css-templates/preview/page281/biznews/assets/css/fonts/fa-regular-400.ttf) format("truetype"), url(https://www.free-css.com/assets/files/free-css-templates/preview/page281/biznews/assets/css/fonts/fa-regular-400.svg#fontawesome) format("svg");
} */

.container-fluid {
    width: 100%;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-right: auto;
    margin-left: auto;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.container {
    width: 100%;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.section-title {
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #dee2e6;
    border-left: 5px solid #fc0;
}

.owl-carousel {
    display: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    width: 100%;
    z-index: 1;
}

.position-relative {
    position: relative !important;
}

.owl-carousel.owl-loaded {
    display: block;
}

h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600 !important;
    line-height: 1.2;
    color: #31404b;
    font-size: 1.5rem;
}

.m-0 {
    margin: 0 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}

.news-carousel .owl-nav {
    position: absolute;
    width: auto;
    height: 30px;
    top: -60px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.owl-carousel .owl-dots.disabled {
    display: none;
}

.owl-carousel .owl-stage {
    position: relative;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-nav .owl-prev {
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.news-carousel .owl-nav .owl-prev {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #31404b;
    background: 0 0;
    border: 1px solid #31404b;
    font-size: 16px;
    transition: .3s;
}

.news-carousel .owl-nav .owl-prev:hover {
    color: #31404b;
    background: #fc0;
    border-color: #fc0;
}

.owl-carousel .owl-nav .owl-next {
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.news-carousel .owl-nav .owl-next {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #31404b;
    background: 0 0;
    border: 1px solid #31404b;
    font-size: 16px;
    transition: .3s;
}

.news-carousel .owl-nav .owl-next:hover {
    color: #31404b;
    background: #fc0;
    border-color: #fc0;
}

.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-touch-callout: none;
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fa {
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.overflow-hidden {
    overflow: hidden !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.h-100 {
    height: 100% !important;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1e2024);
    z-index: 1;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

a {
    color: #fc0;
    text-decoration: none;
    background-color: transparent;
}

.h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #31404b;
    font-size: 1rem;
}

.text-white {
    color: #fff !important;
}

.font-weight-semi-bold {
    font-weight: 600 !important;
}

a:hover {
    color: #b38f00;
    text-decoration: underline;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge-primary {
    color: #212529;
    background-color: #fc0;
}

.mr-2 {
    margin-right: .5rem !important;
}

.p-2 {
    padding: .5rem !important;
}

a.badge:hover {
    text-decoration: none;
}

a.badge-primary:hover {
    color: #212529;
    background-color: #cca300;
}

small {
    font-size: 80%;
    font-weight: 400;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-i4YY6.style-i4YY6 {
    transform: translate3d(-1154px, 0px, 0px);
    transition: all 1s ease 0s;
    width: 3751px;
}

#style-SoFHQ.style-SoFHQ {
    width: 258.5px;
    margin-right: 30px;
}

#style-Y7nmO.style-Y7nmO {
    height: 300px;
}

#style-SF8PJ.style-SF8PJ {
    object-fit: cover;
}

#style-8F8lX.style-8F8lX {
    width: 258.5px;
    margin-right: 30px;
}

#style-O5zxT.style-O5zxT {
    height: 300px;
}

#style-nNnsc.style-nNnsc {
    object-fit: cover;
}

#style-yaJmi.style-yaJmi {
    width: 258.5px;
    margin-right: 30px;
}

#style-KL5nI.style-KL5nI {
    height: 300px;
}

#style-awq2U.style-awq2U {
    object-fit: cover;
}

#style-s5ljF.style-s5ljF {
    width: 258.5px;
    margin-right: 30px;
}

#style-nJLz4.style-nJLz4 {
    height: 300px;
}

#style-Gvd8l.style-Gvd8l {
    object-fit: cover;
}

#style-YnoTs.style-YnoTs {
    width: 258.5px;
    margin-right: 30px;
}

#style-oUYws.style-oUYws {
    height: 300px;
}

#style-ZLzA8.style-ZLzA8 {
    object-fit: cover;
}

#style-zDqsF.style-zDqsF {
    width: 258.5px;
    margin-right: 30px;
}

#style-AolIP.style-AolIP {
    height: 300px;
}

#style-Q96F3.style-Q96F3 {
    object-fit: cover;
}

#style-GL64C.style-GL64C {
    width: 258.5px;
    margin-right: 30px;
}

#style-KbqY6.style-KbqY6 {
    height: 300px;
}

#style-P9XUz.style-P9XUz {
    object-fit: cover;
}

#style-9NJ6d.style-9NJ6d {
    width: 258.5px;
    margin-right: 30px;
}

#style-nZehR.style-nZehR {
    height: 300px;
}

#style-mSdv5.style-mSdv5 {
    object-fit: cover;
}

#style-J1ygc.style-J1ygc {
    width: 258.5px;
    margin-right: 30px;
}

#style-I2tTR.style-I2tTR {
    height: 300px;
}

#style-aww7L.style-aww7L {
    object-fit: cover;
}

#style-4SFMZ.style-4SFMZ {
    width: 258.5px;
    margin-right: 30px;
}

#style-elqed.style-elqed {
    height: 300px;
}

#style-O762P.style-O762P {
    object-fit: cover;
}

#style-vGnGm.style-vGnGm {
    width: 258.5px;
    margin-right: 30px;
}

#style-EqSRc.style-EqSRc {
    height: 300px;
}

#style-dagoo.style-dagoo {
    object-fit: cover;
}

#style-iQfQw.style-iQfQw {
    width: 258.5px;
    margin-right: 30px;
}

#style-Xf4Qy.style-Xf4Qy {
    height: 300px;
}

#style-O1F5r.style-O1F5r {
    object-fit: cover;
}

#style-5eNON.style-5eNON {
    width: 258.5px;
    margin-right: 30px;
}

#style-KlZUM.style-KlZUM {
    height: 300px;
}

#style-yDKTa.style-yDKTa {
    object-fit: cover;
}